
<div ngClass="aboutContainer">
  <h2 [ngStyle]="{ color: 'orangered', 'text-decoration': 'underline' }">
    {{ "About me " | uppercase }}
  </h2>

  <div ngClass="aboutInfo">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt,
      incidunt. Autem deserunt maiores ratione consequuntur aspernatur
      voluptatum est beatae numquam dolorem hic reprehenderit nobis nihil et,
      porro suscipit esse temporibus Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Ratione, aliquam natus! Possimus, quibusdam. Aliquid
      aperiam voluptates totam alias? Voluptates suscipit veniam sit harum
      laboriosam cum quia quasi itaque iste doloribus. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Non, autem saepe quam magni repellat
      eligendi architecto possimus, debitis quasi consectetur asperiores
      laudantium ipsa aut praesentium voluptatibus at, libero explicabo tempora!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt,
      incidunt. Autem deserunt maiores ratione consequuntur aspernatur
      voluptatum est beatae numquam dolorem hic reprehenderit nobis nihil et,
      porro suscipit esse temporibus Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Ratione, aliquam natus! Possimus, quibusdam. Aliquid
      aperiam voluptates totam alias? Voluptates suscipit veniam sit harum
      laboriosam cum quia quasi itaque iste doloribus. Lorem ipsum dolor sit
      amet consectetur adipisicing elit. Non, autem saepe quam magni repellat
      eligendi architecto possimus, debitis quasi consectetur asperiores
      laudantium ipsa aut praesentium voluptatibus at, libero explicabo tempora!
    </p>
  </div>
</div>
