<div ngClass="rootContainer">
  <div ngClass="container">
    <h1 ngClass="title"   >{{ title | titlecase }}.</h1>
    <nav>
      <ul>
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/about"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >About</a
          >
        </li>
        <li>
          <a
            routerLink="/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login/Signup</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- {{data.length}} -->
  <router-outlet></router-outlet>
</div>
